<button *ngIf="user_in_session" class="btn btn-info btn-lg"  (click)="logout_function()"  id="logout_butt"> Log out</button>

<h1 *ngIf="!user_in_session">Please reload the page to login :D</h1>
<h1 *ngIf="user_in_session">Welcome, {{user_in_session.name}}</h1>

<p *ngIf="user_in_session">Filter: <input type="text" [(ngModel)]="search_text" name="search_text"></p>
<table *ngIf="all_appointments && user_in_session">

<tr>
  <th>Date</th>
  <th>Time</th>
  <th>Patient name</th>
  <th>Complain</th>
  <th>Actions(If your Appointment)</th>

</tr>


<tr *ngFor="let app of all_appointments| filter:search_text">
  <td>{{app.date| date:"longDate"}}</td>
  <td>{{app.time}}</td>
  <td>{{app.name}}</td>
  <td>{{app.complain}}</td>
  <td>
    <div *ngIf="app.name===user_in_session.name">
      <button (click)="delete_app(app._id)">Delete</button>
    </div>
  </td>

</tr>

</table>
<br>
<hr>


<button *ngIf="user_in_session" type="button" [routerLink]="['add']" id="logout_butt" > Add New Appointment</button>
